In [11]:
import pandas as pd
import duckdb

zpravy = pd.read_pickle("pickle/zpravy.pkl")
vazby = pd.read_pickle("pickle/vazby.pkl")
dokumentace = pd.read_pickle("pickle/dokumentace.pkl")
materialy = pd.read_pickle("pickle/material.pkl")
vykony = pd.read_pickle("pickle/vykony.pkl")
vykpac = pd.read_pickle("pickle/vykpac.pkl")

res = duckdb.sql(
    """
    with zpravy_a_vazby as (
        select
            z.serial as zprava_serial,
            z.rc,
            z.ambnum,
            z.content,
            date_trunc('day', STRFTIME(STRPTIME(vazby.DATFR, '%d.%m.%Y %H:%M'), '%Y-%m-%dT%H:%M:%S')::timestamp) as datum_a_cas_zpravy,
            vazby.DEPARTM,
            vazby.WHO,
        from zpravy z
            left join vazby using (serial, ambnum)
    )
    , zpravy_a_vazby_a_dokumentace_tmp as (
        select distinct  -- why do we have duplicates
            datum_a_cas_zpravy,
            date_trunc('day', strptime(d.DATUM_CAS::text, '%Y%m%d_%H%M%S')) as datum_a_cas_dokumentace,
            zv.ambnum,
            zv.content,
            d.CISPAC,
        from zpravy_a_vazby zv
            asof left join dokumentace d
                on zv.ambnum = d.ambnum
                and date_trunc('day', strptime(d.DATUM_CAS::text, '%Y%m%d_%H%M%S')) >= datum_a_cas_zpravy
    )
    , zpravy_a_vazby_a_dokumentace as (
        select
            datum_a_cas_zpravy,
            ambnum,
            array_agg(distinct content) as contents,
            min(cispac) as cispac,
        from zpravy_a_vazby_a_dokumentace_tmp
        group by 
            datum_a_cas_zpravy,
            ambnum
    )
    , zpravy_a_vazby_a_dokumentace_a_vykony_tmp as (
        select
            date_trunc('day', strptime(datum::text, '%d.%m.%Y %H:%M')) as datum_vykonu,
            z.*,
            u.CDOKL,
            u.kod as kod_vykonu,
            u.odbornost,
            u.mnozstvi as mnozstvi_vykonu,
            u.body,
        from zpravy_a_vazby_a_dokumentace z
            left join vykony u on
                z.cispac = u.cispac
                and date_trunc('day', strptime(datum::text, '%d.%m.%Y %H:%M')) = datum_a_cas_zpravy
    )
    , zpravy_a_vazby_a_dokumentace_a_vykony as (
        select
            datum_a_cas_zpravy,
            contents,
            AMBNUM,
            cispac,
            array_agg(
                struct_pack(
                    CDOKL,
                    kod_vykonu,
                    odbornost,
                    mnozstvi_vykonu,
                    body
                )
            ) as vykony
        from zpravy_a_vazby_a_dokumentace_a_vykony_tmp
        group by 
            datum_a_cas_zpravy,
            contents,
            AMBNUM,
            cispac,
    )
    , zpravy_a_vazby_a_dokumentace_a_vykony_a_materialy_tmp as (
        select
            z.*,
            m.cdokl,
            m.kod as kod_materialu,
            m.mnozstvi as mnozstvi_materialu,
        from zpravy_a_vazby_a_dokumentace_a_vykony z
            left join materialy m on
                z.cispac = m.cispac
                and date_trunc('day', strptime(m.datum::text, '%d.%m.%Y %H:%M')) = datum_a_cas_zpravy
    )
    , zpravy_a_vazby_a_dokumentace_a_vykony_a_materialy as (
        select
            datum_a_cas_zpravy,
            contents,
            AMBNUM,
            cispac,
            vykony,
            array_agg(
                struct_pack(
                    cdokl,
                    kod_materialu,
                    mnozstvi_materialu
                )
            ) as materialy
        from zpravy_a_vazby_a_dokumentace_a_vykony_a_materialy_tmp
        group by 
            datum_a_cas_zpravy,
            contents,
            AMBNUM,
            cispac,
            vykony,
    )
    select *
    from zpravy_a_vazby_a_dokumentace_a_vykony_a_materialy
    order by datum_a_cas_zpravy ASC
    """
).df()
display(res)

,datum_a_cas_zpravy,contents,AMBNUM,cispac,vykony,materialy
0,2023-01-01,[MUDr. Kryštofová Dominika\nC163 \nPacientka s...,17345,882713,"[{'CDOKL': 255384, 'kod_vykonu': 42022, 'ODBOR...","[{'CDOKL': 255384, 'kod_materialu': '0007955',..."
1,2023-01-01,[MUDr. Čmejlová Vlastimila\nC504 \nZ511 \nKOnt...,16300,258464,"[{'CDOKL': 256748, 'kod_vykonu': 42022, 'ODBOR...","[{'CDOKL': 256748, 'kod_materialu': '0168721',..."
2,2023-01-01,[MUDr. Čmejlová Vlastimila\nC508 \nKontrola př...,41203,1834132,"[{'CDOKL': None, 'kod_vykonu': None, 'ODBORNOS...","[{'CDOKL': None, 'kod_materialu': None, 'mnozs..."
3,2023-01-01,[MUDr. Novák Tomáš\nC61 \nPET/CT 27.12.2022 \n...,40215,1063949,"[{'CDOKL': None, 'kod_vykonu': None, 'ODBORNOS...","[{'CDOKL': None, 'kod_materialu': None, 'mnozs..."
4,2023-01-02,[MUDr. Danesh Adéla\nC61 \nAmbulantní aplikace...,49135,2040855,"[{'CDOKL': 199836, 'kod_vykonu': 42022, 'ODBOR...","[{'CDOKL': 199836, 'kod_materialu': '0193478',..."
...,...,...,...,...,...,...
66379,NaT,[MUDr. Novák Tomáš\nC713 \nTel. kontakt s pac....,53259,507227,"[{'CDOKL': None, 'kod_vykonu': None, 'ODBORNOS...","[{'CDOKL': None, 'kod_materialu': None, 'mnozs..."
66380,NaT,[MUDr. Kryštofová Dominika\nC498 \nMDT 19.12.2...,59981,2288731,"[{'CDOKL': None, 'kod_vykonu': None, 'ODBORNOS...","[{'CDOKL': None, 'kod_materialu': None, 'mnozs..."
66381,NaT,"[doc. MUDr. Kopečková Kateřina, Ph.D.\nC821 \n...",54659,2126585,"[{'CDOKL': None, 'kod_vykonu': None, 'ODBORNOS...","[{'CDOKL': None, 'kod_materialu': None, 'mnozs..."
66382,NaT,[MUDr. Pacas Pavel\nC20 \nNO: 67-letá pacientk...,57487,562493,"[{'CDOKL': None, 'kod_vykonu': None, 'ODBORNOS...","[{'CDOKL': None, 'kod_materialu': None, 'mnozs..."
66383,NaT,"[doc. MUDr. Kopečková Kateřina, Ph.D.\nC73 \nC...",41330,83356,"[{'CDOKL': None, 'kod_vykonu': None, 'ODBORNOS...","[{'CDOKL': None, 'kod_materialu': None, 'mnozs..."

In [30]:
import math


result = []
for i in range(len(res)):
    contents = res.iloc[i]["contents"]
    vykony = res.iloc[i]["vykony"]
    materialy = res.iloc[i]["materialy"]

    input = {"report": "\n".join(contents)}
    if len(vykony) > 1:
        result.append(
            {
                "inputs": input,
                "outputs": {
                    "vykony": list(
                        {"code": x["kod_vykonu"], "body": x["BODY"]} for x in vykony
                    )
                },
            }
        )

evalset = pd.DataFrame(result)
evalset = evalset.sample(frac=1).reset_index(drop=True)[:50]

# assert len(training) + len(test) == len(evalset)

evalset

,inputs,outputs
0,"{'report': 'doc. MUDr. Kopečková Kateřina, Ph....","{'vykony': [{'code': 42022, 'body': '435.000'}..."
1,"{'report': 'doc. MUDr. Kopečková Kateřina, Ph....","{'vykony': [{'code': 42022, 'body': '435.000'}..."
2,{'report': 'MUDr. Casas Mendez Luis Fernando C...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
3,{'report': 'MUDr. Danesh Adéla C19 Pacient je...,"{'vykony': [{'code': 42023, 'body': '435.000'}..."
4,{'report': 'MUDr. Čmejlová Vlastimila C504 KO...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
5,{'report': 'MUDr. Šustrová Darja C509 Kontrol...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
6,{'report': 'MUDr. Nohejlová Medková Anna C549...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
7,{'report': 'MUDr. Bulová Alena C099 Pacient j...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
8,"{'report': 'doc. MUDr. Kopečková Kateřina, Ph....","{'vykony': [{'code': 42022, 'body': '435.000'}..."
9,{'report': 'MUDr. Kryštofová Dominika C504 Pa...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
10,{'report': 'MUDr. Danesh Adéla C56 KONTROLA ...,"{'vykony': [{'code': 99976, 'body': '0.000'}, ..."
11,{'report': 'MUDr. Čmejlová Vlastimila C503 ...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
12,{'report': 'MUDr. Linke Zdeněk C494 high risk...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
13,{'report': 'MUDr. Pacas Pavel C188 Pacient je...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
14,{'report': 'MUDr. Batko Stanislav Z511 C495 ...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
15,{'report': 'MUDr. Čmejlová Vlastimila C504 K...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
16,{'report': 'MUDr. Kryštofová Dominika C163 Pa...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
17,"{'report': 'doc. MUDr. Kopečková Kateřina, Ph....","{'vykony': [{'code': 42022, 'body': '435.000'}..."
18,{'report': 'MUDr. Pacas Pavel C187 Pacientka ...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
19,{'report': 'MUDr. Čmejlová Vlastimila C509 Pa...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
20,{'report': 'MUDr. Linke Zdeněk C20 Adenokarc...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
21,"{'report': 'prof. MUDr. Büchler Tomáš, Ph.D. C...","{'vykony': [{'code': 42022, 'body': '435.000'}..."
22,{'report': 'MUDr. Pacas Pavel C168 Pacient je...,"{'vykony': [{'code': 42023, 'body': '435.000'}..."
23,{'report': 'MUDr. Linke Zdeněk C481 PET/CT p....,"{'vykony': [{'code': 99976, 'body': '0.000'}, ..."
24,{'report': 'MUDr. Pacas Pavel C20 Pacientka j...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
25,{'report': 'MUDr. Jirsová Kateřina C504 pláno...,"{'vykony': [{'code': 42023, 'body': '435.000'}..."
26,{'report': 'MUDr. Linke Zdeněk C187 I10 Aden...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
27,{'report': 'MUDr. Kryštofová Dominika C56 - p...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
28,"{'report': 'doc. MUDr. Kopečková Kateřina, Ph....","{'vykony': [{'code': 42022, 'body': '435.000'}..."
29,"{'report': 'doc. MUDr. Kopečková Kateřina, Ph....","{'vykony': [{'code': 99976, 'body': '0.000'}, ..."
30,{'report': 'MUDr. Linke Zdeněk C187 Pacientka...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
31,"{'report': 'doc. MUDr. Kopečková Kateřina, Ph....","{'vykony': [{'code': 99976, 'body': '0.000'}, ..."
32,"{'report': 'doc. MUDr. Kopečková Kateřina, Ph....","{'vykony': [{'code': 99976, 'body': '0.000'}, ..."
33,{'report': 'MUDr. Bulová Alena C450 20. cyklu...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
34,{'report': 'MUDr. Danesh Adéla C61 Pacient je...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
35,{'report': 'MUDr. Danesh Adéla C19 Pacient je...,"{'vykony': [{'code': 42023, 'body': '435.000'}..."
36,{'report': 'MUDr. Linke Zdeněk C187 Adenoca...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
37,{'report': 'MUDr. Čmejlová Vlastimila C504 Ko...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
38,{'report': 'MUDr. Danesh Adéla C509 Pacientka...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
39,{'report': 'MUDr. Vraštilová Pěva C504 Z511 ...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
40,{'report': 'MUDr. Bulová Alena C504 Pacientka...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
41,{'report': 'MUDr. Nohejlová Medková Anna C56 ...,"{'vykony': [{'code': 9511, 'body': '45.000'}, ..."
42,"{'report': 'doc. MUDr. Kopečková Kateřina, Ph....","{'vykony': [{'code': 42021, 'body': '862.000'}..."
43,{'report': 'MUDr. Čmejlová Vlastimila C187 Ko...,"{'vykony': [{'code': 99782, 'body': '0.000'}, ..."
44,{'report': 'MUDr. Kryštofová Dominika C187 Pa...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
45,{'report': 'MUDr. Šustrová Darja C61 Kontrola...,"{'vykony': [{'code': 42022, 'body': '435.000'}..."
46,{'report': 'MUDr. Pacas Pavel C504 Pacientka ...,"{'vykony': [{'code': 42023, 'body': '217.000'}..."
47,{'report': 'C73 Kontrola během CHRT: Dnes 26....,"{'vykony': [{'code': 9219, 'body': '72.000'}, ..."
48,{'report': 'MUDr. Bulová Alena C01 PŘEPOJENÍ ...,"{'vykony': [{'code': 9511, 'body': '45.000'}, ..."
49,"{'report': 'doc. MUDr. Kopečková Kateřina, Ph....","{'vykony': [{'code': 42022, 'body': '435.000'}..."

In [19]:
from dotenv import load_dotenv
from langsmith import Client

# Load environment variables from a .env file
load_dotenv()

client = Client()

In [31]:
client.create_dataset(
    dataset_name="rakathon-oncoders-hard",
)

Dataset(name='rakathon-oncoders-hard', description=None, data_type=<DataType.kv: 'kv'>, id=UUID('c0fecbb6-cf6e-4e28-b68a-ebfac991f5e0'), created_at=datetime.datetime(2025, 4, 13, 3, 0, 41, 838462, tzinfo=datetime.timezone.utc), modified_at=datetime.datetime(2025, 4, 13, 3, 0, 41, 838462, tzinfo=datetime.timezone.utc), example_count=0, session_count=0, last_session_start_time=None, inputs_schema=None, outputs_schema=None, transformations=None)

In [32]:
from dotenv import load_dotenv
from langsmith import Client

client.create_examples(
    dataset_name="rakathon-oncoders-hard",
    examples=evalset.to_dict(orient="records"),
)

{'example_ids': ['3f048e3a-cd12-4906-996c-34f6dd85e907',
  'b075038b-e508-4cb9-87b6-f31acd7b5259',
  '0e06ab28-4c8f-4f5e-b099-4ba007ce03ef',
  '45e159d1-b70e-4a81-a984-15d2fac527e7',
  '97d47b13-02d9-4dc2-a6ef-9a357dc5fcd3',
  '11e763d0-c79d-4b69-844e-c1f36fdd0b3e',
  'e3407ab2-5c05-46c1-bfdf-f6f1de49b5ba',
  'cc054c16-f1b6-4bf3-be12-82802f3ecfd8',
  '9bd53515-98c3-4702-bb22-6e04cfe67b16',
  '339fb271-baf5-4bb1-bf25-5bcc7cd30f72',
  '2c3ecb1d-a526-43a1-891f-27f4ef6601fc',
  '934b0c57-1aa2-49b9-a5d8-7013008c8151',
  'dfd5bb54-830a-429f-9c01-1015df7c41df',
  '6a81d53f-27e0-44ab-94b2-527638cdacbc',
  '3a67e938-4890-40d2-b29b-015d5230cc09',
  'e1509e5f-a5a2-411e-8c87-92d86d5c249c',
  'd64f3220-20eb-44f2-a52c-1ffd8111bd82',
  '00014fb7-8e06-41d5-b8d9-326929bf03b9',
  'fa3406c3-2d5c-4470-a55f-2368c8469f8c',
  '88ad25c6-a3f5-4c2c-8c54-d0e10207236b',
  'f5d0f708-0b40-420f-8124-2153bf12ce66',
  'a5962ffe-2e9e-4e79-b61d-7436bce20708',
  '02347357-118d-4312-8387-7c482655e272',
  'f35c143b-5159-4338-afa1-815cd9c9f592',
  '43125ba8-8011-4532-a2dc-04d90669f5ca',
  '11bc4f69-1f32-4689-ba6d-79fe04a9526a',
  '3a755e04-f8b1-4459-aae9-efeb2d11ba16',
  '1ab2ca00-3c83-4bae-8181-a8c86d2eaead',
  '22870e39-18f8-4358-a10a-d1e76a34f834',
  'b80c44c5-4ad0-46ad-b7ea-3360338af623',
  'ace73b31-6c2f-441a-955f-3a2c29131bd7',
  '3c1f425a-f4c2-4dea-85a4-3598eb4c8557',
  'a02389c7-e0ae-46cf-9fdc-a3b5dc87c607',
  '07cb9c95-5d9a-47d0-9012-0d11f72bb486',
  'bfbb53e1-a8b4-423e-94d6-735ff1c89109',
  '8c567227-1ee1-4e84-9873-3009a3beec81',
  'dc19c4c6-0afd-4470-881a-c6594b4994d7',
  'e1f20847-236a-49ba-95d2-7aa236849d96',
  'df1c2e06-90d4-4bfe-a500-db2a138de3d4',
  '974884c5-0f87-4cd6-b71d-e0fc6bef5ce4',
  'efa44e19-3962-4170-baf8-1e54216eeddc',
  'b0f5a091-c838-4316-8b91-552f09cc1e6c',
  '37cbf16e-04be-4dad-bbbf-5a3d7b995f67',
  '890a4f27-bf84-48c6-86d2-ae98f8cc8b2b',
  '4740b08f-d64a-4590-938e-88ae0d4850ad',
  'b3245843-8126-425e-a924-3a68df4e8f28',
  'c5845550-9b35-4818-8522-b1a53db176d3',
  '8d18b368-fe78-4c06-a87e-55249f266620',
  '2e1ae96e-809d-4d3e-8e37-e2a0b64e72d4',
  '1a4fc6d2-23ed-478c-bcc6-a5ae4986a1d3'],
 'count': 50}

In [7]:
dokumentace

,FILE,POR,UDALOST_CISLO,UDALOST,DATUM,ODDEL,LEKAR,DATUM_CAS,DIAGNOZA,DATUM_OD,...,HODNOCENI,JMENO,RC,AMBNUM,CISPAC,PSC,DATUM_NAR,VEKR,VEKM,VEKD
0,2023_01,1,2,RATO,20230125,10248,22217,20230125_101800,NaN,00010101_000000,...,0,NaN,640XXXXXXX,53835,2124171,11000,10101,58,8,14
1,2023_01,2,5,RATP,20230125,10370,93786,20230125_102500,C19,00010101_000000,...,0,NaN,716XXXXXXX,58891,2259382,28601,10101,51,3,14
2,2023_01,3,5,RATP,20230116,10370,22298,20230116_110000,C051,00010101_000000,...,0,NaN,660XXXXXXX,55647,2193508,27201,10101,56,9,29
3,2023_01,4,5,RATP,20230104,10452,22422,20230104_112500,"C493, C810",00010101_000000,...,0,NaN,685XXXXXXX,26033,508766,16000,10101,54,6,19
4,2023_01,5,5,RATP,20230105,10370,22298,20230105_110000,C162,00010101_000000,...,0,NaN,660XXXXXXX,50413,298937,10000,10101,56,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79157,2023_12,5414,14,NAVS,20010904,0,0,20010904_000000,NaN,00010101_000000,...,0,NaN,670XXXXXXX,63433,2252314,26601,10101,34,1,11
79158,2023_12,5415,14,NAVS,20010904,0,0,20010904_000000,NaN,00010101_000000,...,0,NaN,675XXXXXXX,42308,1868487,35137,10101,34,2,16
79159,2023_12,5416,14,NAVS,20010904,0,0,20010904_000000,NaN,00010101_000000,...,0,NaN,675XXXXXXX,42308,1868487,35137,10101,34,2,16
79160,2023_12,5417,14,NAVS,20010904,0,0,20010904_000000,NaN,00010101_000000,...,0,NaN,391XXXXXXX,30856,1416262,26718,10101,61,9,26
79161,2023_12,5418,14,NAVS,20010904,0,0,20010904_000000,NaN,00010101_000000,...,0,NaN,391XXXXXXX,30856,1416262,26718,10101,61,9,26