In [1]:
import pandas as pd

In [4]:
diag_df = pd.read_csv("./data/mkn/01_MKN10_5E_2025_cp_w1250.csv", sep=";")

diag_df.head()

/var/folders/sf/yy_tgz8n46x94kfzmknffnjm0000gn/T/ipykernel_10616/2832354855.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  diag_df = pd.read_csv("./data/mkn/01_MKN10_5E_2025_cp_w1250.csv", sep=";")

,Kod,KodSTeckou,CleneniNaPatemMiste,Nazev,NazevPlny,ZnakProDruh,Zakladni,UmrtiPricina,NepripustnePohlavi,NepripustnyVekOd,...,Skupinaplatnosti02,Skupinaplatnosti03,Skupinaplatnosti04,Skupinaplatnosti05,Skupinaplatnosti06,Skupinaplatnosti07,Skupinaplatnosti08,Skupinaplatnosti09,PlatnostOd,PlatnostDo
0,A00,A00,NaN,Cholera,Cholera,NaN,NaN,3,NaN,NaN,...,0,0,0,0,1,1,0,0,01.01.1994,NaN
1,A000,A00.0,NaN,Cholera‚ původce: Vibrio cholerae 01‚ biotyp c...,Cholera‚ původce: Vibrio cholerae 01‚ biotyp c...,NaN,NaN,1,NaN,NaN,...,0,0,0,0,1,0,1,1,01.01.1994,NaN
2,A001,A00.1,NaN,Cholera‚ původce: Vibrio cholerae 01‚ biotyp e...,Cholera‚ původce: Vibrio cholerae 01‚ biotyp e...,NaN,NaN,1,NaN,NaN,...,0,0,0,0,1,0,1,1,01.01.1994,NaN
3,A009,A00.9,NaN,Cholera NS,Cholera NS,NaN,NaN,1,NaN,NaN,...,0,0,0,0,1,0,1,1,01.01.1994,NaN
4,A01,A01,NaN,Břišní tyfus a paratyfus,Břišní tyfus a paratyfus,NaN,NaN,3,NaN,NaN,...,0,0,0,0,1,1,0,0,01.01.1994,NaN

In [5]:
used_diag = [
    "C719",
    "N47",
    "C629",
    "C811",
    "C402",
    "N926",
    "C819",
    "A630",
    "N871",
    "C960",
    "D481",
    "C181",
    "R91",
    "C64",
    "C812",
    "C492",
    "C414",
    "C837",
    "N872",
    "D350",
    "C830",
    "C810",
    "C829",
    "C56",
    "C764",
    "N870",
    "C222",
    "Q850",
    "D162",
    "D126",
    "D381",
    "C716",
    "R104",
    "C495",
    "C229",
    "D229",
    "C435",
    "C490",
    "C051",
    "C188",
    "C189",
    "C023",
    "C717",
    "C473",
    "C740",
    "C400",
    "K635",
    "C410",
    "C910",
    "C61",
    "C639",
    "C480",
    "C621",
    "C493",
    "D485",
    "Z031",
    "C413",
    "D1808",
    "D688",
    "D430",
    "C403",
    "C710",
    "D181",
    "C852",
    "D361",
    "D330",
    "C713",
    "C383",
    "G400",
    "C439",
    "C859",
    "C496",
    "R224",
    "K358",
    "C692",
    "D219",
    "C846",
    "C712",
    "Q959",
    "Z018",
    "C839",
    "D489",
    "C833",
    "R599",
    "K769",
    "C343",
    "Q858",
    "C755",
    "C419",
    "D139",
    "D27",
    "C474",
    "C380",
    "T959",
    "C723",
    "C482",
    "Q998",
    "C411",
    "C409",
    "D480",
    "D215",
    "D210",
    "D391",
    "D610",
    "C220",
    "D66"
]

In [11]:
diag_df_used = diag_df[diag_df["Kod"].isin(used_diag)]

diag_df_used.rename(columns={"Kod": "code", "NazevPlny": "description"}, inplace=True)
diag_df_used[["code", "description"]].reset_index(drop=True).to_json("./data/mkn/mkn_used.jsonl", orient="records", lines=True)

# diag_df_used.to_csv("./data/mkn/01_MKN10_5E_2025_cp_w1250_used.csv", sep=";", index=False)

/var/folders/sf/yy_tgz8n46x94kfzmknffnjm0000gn/T/ipykernel_10616/331049571.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diag_df_used.rename(columns={"Kod": "code", "NazevPlny": "description"}, inplace=True)